<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>The Latest Earthquakes - Earthquake list</title>
    <link rel="stylesheet" href="/static/earthquake.css"/>
  </head>
  <body>
    {% extends "layout.html" %}
{% block title %}earthquake{% endblock %}
{% block content %}
    <h1 class="title">earthquake</h1>

    <table class="table">
      <tr>
        <th>Title:</th>
        <td>{{ earthquake.title }}</td>
      </tr>
      {% if earthquake.year %}
      <tr>
        <th>Year:</th>
        <td>{{ earthquake.year }}</td>
      </tr>
      {% endif %}
    </table>
{% endblock %}
<ul>
      <li><a href="/"> Home </a></li>

      {% endblock %}

    </ul>
  </body>
</html>
